* {
    box-sizing: border-box;
}

body {
    height:100vh;
    margin:0;
    overflow: hidden;
}

.container {
    position:relative;
    width:100%;
    height:100%;

}

.split {
    position:absolute;
    width:50%;
    height:100%;
}

h1 {
    font-size:2.5rem;
    color: #0f0e0e;
    position:absolute;
    left:50%;
    top:10%;
    transform: translateX(-50%);
    white-space: nowrap;
    border: 1px solid red;
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    border: 1px solid red;
    font-size: 1rem;
    font-weight: bold;
    width: 15rem;
    padding: 1.5rem;

}