:root {
    --left-bg-color: rgba(101, 98, 238, 0.3);
    --right-bg-color: rgba(87, 84, 236, 0.3);
    --left-btn-hover-color: rgba(87, 84, 236, 1);
    --right-btn-hover-color: rgb(116, 105, 232);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms
}
* {
    box-sizing: border-box;
}

body {
    height:100vh;
    margin:0;
    overflow: hidden;
}

.container {
    position:relative;
    width:100%;
    height:100%;

}

.split {
    position:absolute;
    width:50%;
    height:100%;
}

h1 {
    font-size:2.5rem;
    color: #0f0e0e;
    position:absolute;
    left:50%;
    top:10%;
    transform: translateX(-50%);
    white-space: nowrap;
    border: 1px solid red;
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    text-decoration: none;
    border: 2px solid rgb(24, 55, 169);
    border-radius:3px;
    font-size: 1rem;
    font-weight: bold;
    width: 15rem;
    padding: 1.5rem;
}
.split.left .btn:hover {
    background-color: var(--left-btn-hover-color);
    border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
    background-color: var(--right-btn-hover-color);
    border-color: var(--right-btn-hover-color);
}

.split.left {
    left: 0;
    background: url('https://images.pexels.com/photos/19777962/pexels-photo-19777962.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before {
    content:'';
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);

}
.split.right {
    right: 0;
    background: url('https://images.pexels.com/photos/31252466/pexels-photo-31252466.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}

.split.left,
.split.right,
.split.left::before,
.split.right::before {
    transition: all var(--speed) ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
}
.hover-left .right {
    width: var(--other-width);
}

.hover-right .left {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

