* {
    box-sizing: border-box;
}
body {
    background-color: rgb(205, 188, 221);
    margin:0;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone {
    position:relative;
    width:340px;
    height:600px;
    border:3px solid rgb(23, 17, 17);
    border-radius: 15px;
    overflow: hidden;
}
.phone .content {
    position: absolute;
    object-fit: cover;
    width:100%;
    height:calc(100% - 60px);
    top:0;
    left:0;
    
    opacity: 0;
}
nav {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    border:1px solid red;
    margin-top:-10px;

}
.phone .content.show {
    opacity: 1;
}
nav ul {
    background-color: aliceblue;
    display:flex;
    list-style-type: none;
    margin:0;
    padding:0;
    height:60px;
}
nav ul li {
    border:1px solid red;
    flex:1;
    text-align: center;
    padding:5px;
}
nav ul li i {
    margin:5px 0;
}
nav ul li p {
    font-size:12px;
    margin:5px 0;
}
nav ul li:hover,
nav ul li.active {
    color:rgb(87, 49, 124);
}
