* {
    box-sizing: border-box;
}
body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    height: 100vh;
    background-color: #d4d5d7;
}