* {
    box-sizing: border-box;
}
body {
    display:flex;
    justify-content: center;
    align-items:center;
    overflow:hidden;
    margin:0;
    height:100vh;
    background-color: burlywood;
}
.search {
    position:relative;
    height:60px;
}
.search .input{
    border:0;
    background-color: #fff;;
    width:50px;
    height:50px;
    padding:13px;
    font-size:17px;
    transition:width 0.3s ease-in;
}
.btn {
    position:absolute;
    cursor:pointer;
    width:50px;
    height:50px;
    top:0;
    left:0;
    border:0;
    background-color: #fff;
    font-size:25px;
    transition:transform 0.3s ease;
}
.input:focus,
.btn:focus{
    outline:none;
}
.search.active .input{
    width:220;
}
.search.active .btn{
    transform:translateX(200px);

}